.heros__container {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
  gap: 3rem;
}

@media (min-width: 768px) {
  .heros__container {
    grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
  }
}

.hero__card {
  width: 38rem;
  background-color: var(--bg-300);
  margin: 0px auto;
  border-radius: 1rem;
  padding: 1rem;
}

.hero__card__header img {
  width: 100%;
  margin: 0 auto;
  border-radius: 0.5rem;
}

.hero__card__title {
  font-size: 2.1rem;
  margin-top: 2rem;
  text-align: center;
  font-weight: bold;
}

.hero__info {
  font-size: 1.8rem;
  list-style: none;
  padding: 1rem;
  margin: 0;
}

.hero__info li {
  border-bottom: 0.1rem solid var(--primary-300);
  padding: 1rem 0rem;
}

.card__button {
  background-color: var(--accent-200);
  border: none;
  font-size: 2rem;
  width: 100%;
  padding: 1rem;
  border-radius: 1rem;
  transition: all 0.3s ease-in-out;
}

.card__button:hover {
  background-color: var(--accent-100);
  cursor: pointer;
  color: var(--text-200);
}
