@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700;900&display=swap");
@import url("./normalize.css");
@import url("./navbar.css");
@import url("./heros.css");
@import url("./loader.css");

:root {
  --primary-100: #1f3a5f;
  --primary-200: #4d648d;
  --primary-300: #acc2ef;
  --accent-100: #3d5a80;
  --accent-200: #cee8ff;
  --text-100: #ffffff;
  --text-200: #e0e0e0;
  --bg-100: #0f1c2e;
  --bg-200: #1f2b3e;
  --bg-300: #374357;
}

html {
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  background-color: var(--bg-100);
  color: var(--text-100);
  font-family: "Poppins", sans-serif;
}

img {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 400;
  width: auto;
}

.container {
  width: 100%;
  max-width: 120rem;
  margin: 0rem auto;
}

.titulo {
  padding: 1rem 0;
  text-align: center;
  font-size: 3rem;
  margin-top: 2rem;
  font-weight: 600;
}

/* scroll bar */
body::-webkit-scrollbar {
  width: 0.5rem;
}

body::-webkit-scrollbar-thumb {
  background-color: #cee8ff;
  height: 5rem;
  border-radius: 1rem;
}

.main__container {
  width: 100%;
  max-width: 120rem;
  margin: 0rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/*centrar con grid*/
.loading__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
