.navbar {
  background-color: var(--bg-300);
  color: var(--blanco);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  width: 100%;
  position: sticky;
  top: 0;
}

.navbar__logo {
  margin-left: 2rem;
  font-size: 2rem;
  font-weight: bold;
  text-decoration: none;
  color: var(--blanco);
}

@media (min-width: 768px) {
  .navbar__logo {
    margin: 0;
  }
}

.navbar__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0rem auto;
  padding-top: 1rem;
  width: 100%;
}

@media (min-width: 768px) {
  .navbar__container {
    flex-direction: row;
    justify-content: space-between;
    padding: 1.5rem 0;
    max-width: 120rem;
  }
}

.navbar__menu {
  font-size: 1.6rem;
  list-style: none;
  padding: 0;
  background-color: var(--bg-200);

  display: flex;
  flex-direction: column;
  width: 30rem;

  position: fixed;
  height: 100vh;
  top: 4.7rem;
  right: 0rem;
  transform: translate(+35rem);

  transition: all 0.3s;
}

@media (min-width: 768px) {
  .navbar__menu {
    height: 1rem;
    position: static;
    width: auto;
    transform: none;
    background-color: transparent;

    display: flex;
    flex-basis: 20%;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }
}

.navbar__menu--active {
  transform: translate(0rem);
}

@media (min-width: 768px) {
  .navbar__menu--active {
    transform: none;
  }
}

.navbar__item {
  padding: 2rem;
  transition: all 0.3s ease;
  cursor: pointer;
  display: block;
  color: var(--blanco);
  text-decoration: none;
}

@media (min-width: 768px) {
  .navbar__item {
    padding: 1rem;
    border-radius: 0.5rem;
  }
}

.navbar__item:hover {
  background-color: var(--bg-100);
}

.navbar__toggle {
  padding: 1.5rem;
  font-size: 2rem;
}

@media (min-width: 768px) {
  .navbar__toggle {
    display: none;
  }
}
